.takeOldCamera {
    will-change: clip-path;
    animation: oldCameraAnimation 600ms linear;
    transform: translateZ(0);
}

@keyframes oldCameraAnimation {
    0% {
        clip-path: circle(100%);
    }

    50% {
        clip-path: circle(0%);
    }

    100% {
        clip-path: circle(100%);
    }
}

.videoButton {
    height: var(--spectrum-global-dimension-size-900) !important;
    border-radius: 50% !important;
    border-width: var(--spectrum-global-dimension-size-50) !important;

    ::before {
        content: '';
        top: var(--spectrum-global-dimension-size-50);
        left: var(--spectrum-global-dimension-size-50);
        width: var(--spectrum-global-dimension-size-700);
        height: var(--spectrum-global-dimension-size-700);
        position: absolute;
        border-radius: 50%;
        background-color: var(--brand-coral-coral-shade1);
    }

    &[class*='is-active'] {
        ::before {
            opacity: 0.8;
        }
    }
}

.recordingButton {
    ::before {
        content: '';
        top: 50%;
        left: 50%;
        width: var(--spectrum-global-dimension-size-350);
        height: var(--spectrum-global-dimension-size-350);
        position: absolute;
        margin-top: calc(var(--spectrum-global-dimension-size-160) * -1);
        margin-left: calc(var(--spectrum-global-dimension-size-160) * -1);
        border-radius: 0;
        background-color: var(--spectrum-global-color-gray-900);
    }
}

.captureButton {
    color: var(--spectrum-global-color-gray-50) !important;
    background: var(--spectrum-global-color-gray-900) !important;

    &:hover {
        background: rgba(255, 255, 255, 0.8) !important;
    }
}
