.canvasContainer {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.playButton {
    display: flex;
    gap: var(--spectrum-global-dimension-size-400);
    align-items: center;
    padding: var(--spectrum-global-dimension-size-1200);
    position: relative;
    border-radius: var(--spectrum-alias-border-radius-medium);
}
