.canvasContainer {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: var(--spectrum-global-dimension-size-1200);
}

.img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.inferencedImage {
    grid-area: inference-result;
    justify-self: start;
}

.label {
    padding: var(--spectrum-global-dimension-size-65);
    color: var(--spectrum-global-color-gray-50);
    font-size: var(--spectrum-global-dimension-font-size-75);
    font-weight: 500;
}

.labelNormal {
    background-color: var(--brand-moss);
}

.labelAnomalous {
    background-color: var(--brand-coral-cobalt);
}
