.container {
    background: #2e2f32;
    border: 1px solid var(--background-inverse);
    border-radius: var(--spectrum-global-dimension-size-100);
    padding: var(--spectrum-global-dimension-size-200);
}
