.mainContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

.container {
    width: 100%;
    max-height: 100%;
    overflow-x: auto;
    position: absolute;
    scrollbar-gutter: stable;
}

.mediaItem {
    height: 100%;
    display: grid;
    cursor: pointer;
    place-items: center;
    transition:
        background-color 0.1s ease-in-out,
        border 0.1s ease-in-out;
    transition-delay: 0.15s, 0.15s;

    &[data-hovered],
    &[data-selected] {
        outline: thin solid var(--energy-blue);
    }

    &[data-focus-visible] {
        outline-width: medium;
    }

    img {
        box-sizing: border-box;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
