.list {
    margin-left: var(--spectrum-global-dimension-font-size-200);
    list-style-type: disc;

    ul {
        list-style-type: circle;
        margin-inline-start: var(--spectrum-global-dimension-font-size-200);
    }
}
