.canvasContainer {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: var(--spectrum-global-dimension-size-1200);
}

.img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.notReadyInference {
    filter: grayscale(1) blur(8px);
}

.inferencedImage {
    grid-area: inference-result;
    justify-self: start;
}

.label {
    padding: var(--spectrum-global-dimension-size-65);
    color: var(--spectrum-global-color-gray-50);
    font-size: var(--spectrum-global-dimension-font-size-75);
    font-weight: 500;
}

.labelNormal {
    background-color: var(--brand-moss);
}

.labelAnomalous {
    background-color: var(--brand-coral-cobalt);
}

.canvasItem {
    grid-area: innercanvas;
}

.playButton {
    display: flex;
    gap: var(--spectrum-global-dimension-size-400);
    align-items: center;
    padding: var(--spectrum-global-dimension-size-1200);
    position: relative;
    border-radius: var(--spectrum-alias-border-radius-medium);
}
