.option {
    text-align: left;
    background-color: var(--spectrum-global-color-gray-75);
    border-radius: var(--spectrum-alias-border-radius-regular);
    border: var(--spectrum-alias-border-size-thin) solid var(--spectrum-global-color-gray-200) !important;

    span {
        text-align: left;
    }
}

.activeCard {
    background: var(--selection-dark-blue) !important;
    border: var(--spectrum-global-dimension-size-25) solid var(--energy-blue) !important;
}
