.datasetItemPlaceholder {
    width: 100%;
    height: 100%;
    aspect-ratio: auto;
    border: 1px dashed var(--spectrum-global-color-gray-700);
    background-color: var(--spectrum-global-color-gray-200);
    cursor: default;
}
